<div class="news-details" *ngIf="article$ | async as article">
    <div class="news-details-inner">
        <img [src]="article.urlToImage" alt="Photo">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="mt-5 text-center">{{article.title}}</h1>
                        <p>{{article.description}}</p>
                        <div class="article__footer">
                            <div class="article__footer-item">
                                <span>Source: </span>
                                <span class="link">{{article.source.name}}</span>
                            </div>
                            <div class="article__footer-item">
                                <span>Author: </span>
                                <span class="link">{{article.author || 'Unknown'}}</span>
                            </div>
                            <div class="article__footer-item">
                                <span>Published at</span>
                                <span class="link">{{article.publishedAt | date}}</span>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>