<div class="news-grid">
    <div class="news-grid__order-by" *ngIf="containFilter">
        <mat-form-field appearance="fill" color="accent">
            <mat-label>Order by</mat-label>
            <mat-select [(value)]="sortBy" (selectionChange)="onOrderByChange()">
              <mat-option value="popularity">Popularity</mat-option>
              <mat-option value="relevance">Relevance</mat-option>
              <mat-option value="publishedAt">Published date</mat-option>
            </mat-select>
          </mat-form-field>
    </div>  
    <mat-spinner *ngIf="isLoading" class="mx-auto" color="accent"></mat-spinner>
    <div class="news-grid__items">
        <div class="news-grid__item" *ngFor="let item of news">
            <img [src]="item.urlToImage || 'https://via.placeholder.com/500'" alt="Image">
            <div class="news-grid__content">
                <h3>{{item.title}}</h3>
                <p>{{item.description}}</p>
                <a mat-stroked-button color="warn" [routerLink]="'article/' + item.title">Read full article</a>
            </div>
        </div>
    </div>
    <div class="text-center mb-5" *ngIf="showLoadMoreBtn && !containFilter">
        <button mat-raised-button color="accent" (click)="loadMoreNews()">Load more</button>
    </div>
</div>